[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ypraveentest
[access "refs/for/refs/*"]
	read = group user/ypraveentest
	push = group user/ypraveentest
	label-Code-Review = -2..+2 group user/ypraveentest
	label-Verified = -1..+1 group user/ypraveentest
	rebase = group user/ypraveentest
	removeReviewer = group user/ypraveentest
	submit = group user/ypraveentest
[access "refs/heads/*"]
	read = group user/ypraveentest
	create = group user/ypraveentest
	push = +force group user/ypraveentest
	pushMerge = group user/ypraveentest
[access "refs/tags/*"]
	push = +force group user/ypraveentest
	pushTag = group user/ypraveentest
	pushSignedTag = group user/ypraveentest
